yfinance
pandas
ta
transformers>=4.40.0
--index-url https://download.pytorch.org/whl/cu126
torch>=2.0.0
torchaudio
torchvision
accelerate
duckduckgo-search
ddgs
newspaper3k
lxml_html_clean
requests
sentencepiece
